# PROBLEM SET 2

# QUESTION 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [186]:
a = 0 #variable initialized

def b(): #function b() definition
    global a #global variable initialized - converting local t global
    a = c(a) # calling the function c() to provide the value of a
    
def c(a): #defning a function c()
    return a+2 #the function c() returns a value of a+2 each time it is called

b() 
b() 
b() #function call done thrice

#during each function call, time value of 'a' was increased by 2

a #value of a is printed here

6

# QUESTION 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
fileLength('midterm.py')
284
 fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in module
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
fileLength('midterm.py')
358
fileLength('idterm.py')
File idterm.py not found.

In [187]:
def fileLength(file_name): # defining a function fileLength() 
        file = open(file_name) #opens the file to read contents
        contents = file.read() #reads the content of the file
        file.close() #closes the file
        print(len(contents))
    except FileNotFoundError as file_error_customized: #Throws an exception for the error
        print('File {} not found'.format(file_name))  # Customized error printing

In [188]:
fileLength('Midterm.py')

124

In [189]:
fileLength('idterm.py')

File idterm.py not found

# QUESTION 3

Write a class named Marsupial that can be used as shown below:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
['doll', 'firetruck', 'kitten']
 BDAT 1004 â€“ Data Programming
Page 3 of 7
F2021
BDAT 1004 Computer Studies
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
k = Kangaroo(0,0)
print(k)
I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
['doll', 'firetruck', 'kitten']
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)
I am a Kangaroo located at coordinates (3,0)

In [190]:
class Marsupial: # Marsupial class is created
    List = [] #list initialized 
    
    def put_in_pouch(self,content): #function put_in_pouch to add contents to the list
       self.List.append(content) #the content are appended to the list
        
        
    def pouch_contents(self): #defining a fucntion Pouch_contents to print the list
        return m.List

m = Marsupial() #class object defined
#now the function call follows
m.put_in_pouch("doll") 
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [191]:
class Kangaroo(Marsupial):    #Kangaroo class created
    
    def __init__(self,x1,y1): #constructor 
        self.x = x1
        self.y = y1
        
        Marsupial.__init__(self) #constructor calling
    
    
    def jump(self,x1,y1): #define a parameterized constructor
        self.x = self.x + x1
        self.y = self.y + y1
        
    def __str__(self): #define a default constructor
        return 'I am a Kangaroo located at coordinates ({}, {})'.format(self.x, self.y)
    

    
k = Kangaroo(0,0)
print (k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0, 0)
I am a Kangaroo located at coordinates (3, 0)

# QUESTION 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›
3ð‘¥ + 1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
collatz(1)
1
collatz(10)
10
5
16
8
4
2
1

In [2]:
def collatz(x): #function collatz()defined
    if(x == 1):
        print(1)
        return
    print(int(x))
    
    if(x % 2 == 0):
        x = x / 2
    else:
        x = x * 3 + 1
        
    return (collatz(x))

In [5]:
collatz(1)

1

In [4]:

collatz(10)

10
5
16
8
4
2
1

# QUESTION 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
 binary(0)
0
 binary(1)
1
 binary(3)
11
binary(9)
1001

In [6]:
def binary(a):
    if a > 1:
        binary(a // 2) 
    print( a % 2, end="")

In [196]:
binary(0)

0

In [197]:
binary(1)

1

In [198]:
binary(3)

11

In [199]:
binary(9)

1001

# QUESTION 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
W3C Mission
Principles

In [200]:
from html.parser import HTMLParser #HTMLParser imported using the html.Parser Library

file = open('w3c.html','r')     
par = str(file.read()) #reading the file

class HeadingParser(HTMLParser): # creating HeadingParser class
    def __init__(self):                    
        HTMLParser.__init__(self)
        self.flag = 0 
    
    def handle_starttag(self, tag, attrs):                     
        
        if tag == 'h1' or tag == 'h2' or tag == 'h3' or tag == 'h4' or tag=='h5' or tag == 'h6' or tag == 'h7':
            self.flag += 1                                     
        else:
            self.flag = 0
            
    def handle_data(self, data):# creating a function handle_data()
        if self.flag and data !='\n':
            print('{} {} '.format(self.flag*' ', data))


parser = HeadingParser()#HeadingParser class called
parser.feed(par)

  W3C Mission


   Principles

# QUESTION 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [201]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Web(HTMLParser):
    

    def __init__(self, url): # constructor iniialized
      
        HTMLParser.__init__(self)
        self.url = url
        self.links = []


    def append(self): #appending fuction
        
        return self.links




    def handle_starttag(self, tag, attributes): #function to collect the hyperlinks
        for attr in attributes:
            attrs = urljoin(self.url, attr[1])
            if attrs[:4] == 'http': 
                self.links.append(attrs)
i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Web(url)
    collection.feed(objective)
    urls = collection.append() 
 
    links = urls
    i = i + 4


    for link in links:
        if i < 0 or depth < 0:
            return 1
        else:
            webdir(link, depth, i)



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# QUESTION 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

CREATE TABLE info(City varchar(50), Country varchar(50), Season varchar(50), Temperature int, Rainfall int);

INSERT INTO info VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5);

<center><img title="a title" alt="Alt text" src="s1.png"></center>

select * from info;

<center><img title="a title" alt="Alt text" src="s2.png"></center>

a) All the temperature data.

select TEMPERATURE from info;

<center><img title="a title" alt="Alt text" src="s3.png"></center>

b) All the cities, but without repetition

SELECT DISTINCT City FROM info;

<center><img title="a title" alt="Alt text" src="s4.jpg"></center>

c) All the records for India.

SELECT * FROM info WHERE Country = 'India';

<center><img title="a title" alt="Alt text" src="s5.jpg"></center>

d) All the Fall records.

SELECT * FROM info WHERE Season = 'Fall';

<center><img title="a title" alt="Alt text" src="s6.jpg"></center>

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

SELECT City, Country, Season FROM info WHERE Rainfall BETWEEN 200 And 400;

<center><img title="a title" alt="Alt text" src="s7.jpg"></center>

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

SELECT City, Country FROM info WHERE Season = 'Fall' AND Temperature >20 ORDER BY Temperature;

<center><img title="a title" alt="Alt text" src="s8.jpg"></center>

g) The total annual rainfall for Cairo.

SELECT Sum(Rainfall) as Annual_Rainfall FROM info WHERE City='Cairo';

<center><img title="a title" alt="Alt text" src="s9.jpg"></center>

h) The total rainfall for each season

SELECT  Season, Sum(Rainfall) as Annual_Rainfall FROM info Group By Season;

<center><img title="a title" alt="Alt text" src="s10.jpg"></center>

# QUESTION 9
Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [202]:
List = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("Representation of the words in the List in Upper Case:")
print([w.upper() for w in List],"\n")

Representation of the words in the List in Upper Case:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [203]:
print("Representation of the words in the List in Lower Case:")
print([w.lower() for w in List],"\n")

Representation of the words in the List in Lower Case:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [204]:
print("Representation of the length of each word in the list: ")
print([len(w) for w in List],"\n")

Representation of the length of each word in the list:
[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [205]:
print("Representation ofthe list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word:\n ")
print([[w.upper(), w.lower(), len(w)] for w in List],"\n")

Representation ofthe list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word:

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [206]:
print("The list of words in list words containing 4 or more characters : ")
print([w for w in List if len(w)>=4])

The list of words in list words containing 4 or more characters :
['quick', 'brown', 'jumps', 'over', 'lazy']